@import "tailwindcss";

/* styles.css or a global CSS file */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn .12s ease-out forwards;
}


@keyframes scanLine {
  0% { transform: translateY(0%); }
  100% { transform: translateY(100%); }
}

.animate-scan {
  animation: scanLine 1.5s linear infinite alternate;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
.animate-fadeIn { animation: fadeIn .2s ease-in-out; }

@keyframes scaleIn {
  from { transform: scale(.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.animate-scaleIn { animation: scaleIn .25s ease-out; }
